h1 {
  text-align: center;
}
table {
    border-collapse: separate; /* collapseにしたかったが、stickyとの兼ね合いで断念 */
    border-spacing: 0;
  border: 2px solid rgb(200 200 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  overflow-x: auto;
}

td,
th {
  border: 1px solid rgb(190 190 190);
  padding: 5px 10px;
}
th {
  background-color: rgb(235 235 235);
}
td {
  text-align: center;
}
button {
  width: 100%;
  height: 100%;
}
.topcell {
  position: sticky;
  top: 0;
  background-color: rgb(235 235 235);
  box-shadow: 0 2px 0 black;
}
